head
	meta(charset='utf-8')
	title= title
	meta(name='author', content= author )
	meta(name='viewport', content='width=device-width, user-scalable=no')
	meta(name='description', content= metaDesc )
	link(rel='stylesheet', type='text/css', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
	link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css')
	link(rel='stylesheet', type='text/css', href='assets/css/main.min.css')