- var lang = 'ru'
- var author = 'Yuriy Demchenko'

- var siteTitle = 'Продажа недвижимости по выгодным ценам'
- var pageTitle = 'Домашняя страница'
- var title = pageTitle + ' - ' + siteTitle
- var metaDesc = metaDesc || 'Описание сайта'